@page "/"
@page "/home"
@using BikeApp.Services
@using BikeInfo.Models
@using System.Diagnostics
@using Microsoft.JSInterop
@using System.Text.RegularExpressions
@inject BikeService BikeService
@inject ILogger<Index> Logger
@inject IToastService ToastService
@inject NavigationManager NavManager
@inject IJSRuntime JavaScript
@inject SweetAlertService Swal

<PageTitle>Home</PageTitle>

<h1>Bike-info</h1>

<div>
    <!-- Wrap FluentTextField in a container, but not needed when using the "Autofocus-attribute" of the FluentTextField -->
    <div @ref="inputContainer">
        <FluentTextField @bind-Value="manufacturerFilter"
        placeholder="Enter Manufacturer"
        @onkeydown="HandleEnterKeyPress"
        @oninput="HandleInputChange" Autofocus />

        <input spellcheck="false" class="no-border" placeholder="" @oninput="OnInput" />
        <br />
    </div>

    <FluentButton @onclick="LoadBikes" Class="add-spc">
        <FluentIcon Value="@(new Icons.Regular.Size24.Search())" Class="add-spc" />Search
    </FluentButton>

    <FluentButton @onclick="ShowInfo">
        <FluentIcon Value="@(new Icons.Regular.Size24.Info())" />Show toast-info
    </FluentButton>

    <br /><br />
    Debug: @lastKeyTime - @inputBuffer.Length

</div>

@if (bikes == null && !justStarted)
{
    <p>Loading...</p>
}
else if (bikes != null && !bikes.Any())
{
    <p>No bikes found.</p>
}
else
{
    // Info on styling and use: https://www.fluentui-blazor.net/DataGrid#typicalusage
    <FluentDataGrid TGridItem="Bike" Items="@bikes" OnRowClick="@(row => SelectBike(row.Item))" ShowHover="true" ResizableColumns="true">
        <PropertyColumn Title="Title" Property="@(p => p.Title)" />
        <PropertyColumn Title="Model" Property="@(p => p.Model)" />
        <PropertyColumn Title="Top&nbsp;Speed" Property="@(p => p.TopSpeed)" />
    </FluentDataGrid>
}
<br />

@if (selectedBike != null)
{
    <div>
        <h3> @selectedBike.Title</h3>
        <img src="@ExtractImageUrl(selectedBike.Photo)" alt="@selectedBike.Title" style="max-width: 500px; border-radius: 10px;" />
    </div>
}



@code {
    //private List<Bike>? motorcycles;
    private bool justStarted = true;
    private IQueryable<Bike>? bikes;
    private string manufacturerFilter = "Honda";
    private ElementReference inputContainer;
    private string toastMessage = string.Empty;
    private bool dialogResult = false;
    private Bike? selectedBike; // Store selected bike
    // protected override async Task OnInitializedAsync()
    // {
    //     await LoadBikes();
    // }

    private async Task ShowInfo()
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmation",
                Text = "This is a test, do you want to continue?",
                Icon = SweetAlertIcon.Warning,
                Position = SweetAlertPosition.Top,
                ShowCancelButton = true,
                ConfirmButtonText = "Yes",
                CancelButtonText = "No",
                KeydownListenerCapture = true,
                Footer = "<a href=https://www.benzzon.se target=_blank>Read entire log here</a>"
            });

        dialogResult = !string.IsNullOrEmpty(result.Value);
        ToastService.ShowToast(ToastIntent.Info, "Result from what you selected: " + dialogResult, 5000);
    }

    private void HandleInputChange(ChangeEventArgs e)
    {
        manufacturerFilter = e.Value?.ToString() ?? string.Empty;
    }
    private async Task HandleEnterKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await LoadBikes();
        }
    }
    private void SelectBike(Bike bike)
    {
        selectedBike = bike;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                // Call JavaScript to find and focus the native input element inside the FluentTextField component
                // await JavaScript.InvokeVoidAsync("focusFluentTextField", inputContainer);
            }
            catch (Exception ex)
            {
                // Handle error
                Console.WriteLine($"Error invoking JS function: {ex.Message}");
            }
        }

    }
    private string ExtractImageUrl(string html)
    {
        if (string.IsNullOrWhiteSpace(html))
            return string.Empty;

        var match = Regex.Match(html, "src=\"([^\"]+)\"");
        return match.Success ? "https://www.benzzon.se" + match.Groups[1].Value : string.Empty;
    }

    private async Task<ElementReference?> GetInputElementAsync(ElementReference container)
    {
        // Query the container for the input element using JS Interop
        var inputElement = await JavaScript.InvokeAsync<ElementReference>("getInputElementFromContainer", container);
        return inputElement;
    }

    private async Task LoadBikes()
    {
        ToastService.ShowToast(ToastIntent.Info, "Fetching data from webservice.. ", 5000);

        try
        {
            justStarted = false;
            var bikelist = (await BikeService.GetBikesAsync(manufacturerFilter)).AsQueryable();
            //bikes = bikelist;

            bikes = bikelist.AsQueryable();

            // foreach (var bike in bikes)
            // {
            //     Debug.WriteLine($"Bike: {bike.Title} - {bike.Model} - {bike.TopSpeed}");
            //     //Logger.LogInformation($"Bike: {bike.Title} - {bike.Model} - {bike.TopSpeed}");
            // }

            // Logger.LogInformation("Motorcycle list loaded successfully.");
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ToastService.ShowToast(ToastIntent.Error, "Error: " + ex.Message, 5000);

            // Logger.LogError(ex, "Error loading motorcycles.");
        }
    }

    private string inputBuffer = string.Empty;
    private bool capturing = false;
    private DateTime lastKeyTime;
    private string displayMessage = "";
    private string prefix = "!!";  // Define the prefix as a string variable
    private int delayTime = 1000;

    private async Task OnInput(ChangeEventArgs e)
    {
        var hidString = e.Value?.ToString();

        inputBuffer = hidString;
        lastKeyTime = DateTime.UtcNow;
        if (inputBuffer.StartsWith(prefix))
        {
            capturing = true;
            lastKeyTime = DateTime.UtcNow;
            await StartCaptureTimer();
        }
        else
        {
            inputBuffer = string.Empty; // Reset the string if sequence doesn't match prefix
        }
    }

    private async Task StartCaptureTimer()
    {
        while (capturing)
        {
            await Task.Delay(delayTime);
            if ((DateTime.UtcNow - lastKeyTime).TotalMilliseconds >= delayTime && inputBuffer != string.Empty)
            {
                capturing = false;
                string capturedSequence = inputBuffer.StartsWith(prefix) ? inputBuffer.Substring(prefix.Length) : inputBuffer;
                ToastService.ShowToast(ToastIntent.Warning, $"Captured: {capturedSequence}", 7000);

                inputBuffer = string.Empty; 
                lastKeyTime = DateTime.MinValue;
               
                StateHasChanged(); // Refresh UI
            }
        }
    }
}
